## Engagement

In [502]:
import os
os.chdir('/Users/victor/Documents/projects/mini_projects/ukpact_endproject')

In [446]:
#load engagement data
import pandas as pd
engagement = pd.read_csv('data_engagement.csv')

In [521]:
engagement['County Name'].unique()

array(['Taita Taveta', 'Makueni', 'Taita', 'online'], dtype=object)

In [514]:
engagement.columns

Index(['Uploaded Date', 'Date Collected', 'Engagement Date', 'Data Collector',
       'Project Name', 'Country Name', 'County Name', 'Subcounty Name',
       'Engagement Venue', 'Engagement Type', 'Other Engagement Type',
       'Policy Issue', 'Other Policy Issue', 'Total Participants',
       'Key Participants', 'Male Participants', 'Female Participants',
       'Youth Participants', 'Photo', 'Comment'],
      dtype='object')

In [524]:
filtered = engagement[['Engagement Date','Male Participants','Female Participants', 'Youth Participants', 'Policy Issue', 'Other Policy Issue', 'County Name']]
filtered = filtered[filtered['County Name'] == 'online']
filtered

,Engagement Date,Male Participants,Female Participants,Youth Participants,Policy Issue,Other Policy Issue,County Name
61,2025-07-25,12,6,0,SCALING,refresher training,online

In [519]:
engagement[['Male Participants']].sum()

Male Participants    1758
dtype: int64

In [518]:
filtered[['Male Participants']].sum()

Male Participants    395
dtype: int64

In [523]:
filtered.to_csv('engagement_filtered.csv', index=False)

## TP

In [450]:
tp = pd.read_csv('data_tp.csv')

In [451]:
tp.columns

Index(['Uploaded Date', 'Date Collected', 'Data Collector', 'Project Name',
       'Farmer/Group/Institution', 'Country', 'County/Region/Province',
       'Subcounty/District/Commune/Worede', 'Plot Name', 'Plot Has Crops',
       'Crop Name', 'Plot has Fence', 'Fence Type', 'Other fence Type',
       'Plot Ownership Type', 'Plot Other Ownership Type', 'Plot Size',
       'Plot Size Unit', 'Plot Actual Size(ha)', 'Plot Geometry',
       'Tree Local Name', 'Tree Scientific Name', 'Date Planted',
       'Total Trees Planted', 'Total Trees Survived', 'Who Planted',
       'Who Managed', 'Tree Planted Location', 'Management Practices',
       'Other Management Practices', 'Tree Usage', 'Other Tree Usages',
       'Height', 'Actual Height', 'RCC/CBH', 'Latitude', 'Longitude',
       'Altitude', 'Accuracy', 'Photo', 'Comment'],
      dtype='object')

In [452]:
filterd_tp = tp[['Tree Scientific Name', 'Tree Local Name', 'Total Trees Planted', 'Total Trees Survived', 'Tree Usage', 'Other Tree Usages']]
filterd_tp

,Tree Scientific Name,Tree Local Name,Total Trees Planted,Total Trees Survived,Tree Usage,Other Tree Usages
0,NaN,mjohoro,1500,1500,SHADE,NaN
1,NaN,mjohoro,1500,1500,SHADE,NaN
2,NaN,mgelevia,5,2,FIREWOOD SOIL_FERTILITY SHADE CONSTRUCTION,NaN
3,NaN,Kisungwa,50,30,FRUITS SHADE,NaN
4,Persea americana,Kivakato,10,2,FRUITS SHADE,NaN
...,...,...,...,...,...,...
1023,NaN,kivakato,50,40,FODDER SHADE FRUITS SOIL_FERTILITY FIREWOOD,NaN
1024,NaN,Cypress,25,20,SHADE CONSTRUCTION FIREWOOD,NaN
1025,NaN,Avocado,18,12,SHADE FRUITS,NaN
1026,NaN,m,500,480,SHADE FIREWOOD,NaN
1027,NaN,msumbesu,500,450,FIREWOOD CONSTRUCTION SHADE,NaN

In [453]:
filterd_tp['has_fruits'] = filterd_tp['Tree Usage'].str.contains(
    'FRUITS', case=False, na=False
)
filterd_tp['country'] = 'Kenya'
filterd_tp

/var/folders/t0/njzr1yqd20g7069znnn4ltrw0000gp/T/ipykernel_13646/1708383136.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filterd_tp['has_fruits'] = filterd_tp['Tree Usage'].str.contains(
/var/folders/t0/njzr1yqd20g7069znnn4ltrw0000gp/T/ipykernel_13646/1708383136.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filterd_tp['country'] = 'Kenya'

,Tree Scientific Name,Tree Local Name,Total Trees Planted,Total Trees Survived,Tree Usage,Other Tree Usages,has_fruits,country
0,NaN,mjohoro,1500,1500,SHADE,NaN,False,Kenya
1,NaN,mjohoro,1500,1500,SHADE,NaN,False,Kenya
2,NaN,mgelevia,5,2,FIREWOOD SOIL_FERTILITY SHADE CONSTRUCTION,NaN,False,Kenya
3,NaN,Kisungwa,50,30,FRUITS SHADE,NaN,True,Kenya
4,Persea americana,Kivakato,10,2,FRUITS SHADE,NaN,True,Kenya
...,...,...,...,...,...,...,...,...
1023,NaN,kivakato,50,40,FODDER SHADE FRUITS SOIL_FERTILITY FIREWOOD,NaN,True,Kenya
1024,NaN,Cypress,25,20,SHADE CONSTRUCTION FIREWOOD,NaN,False,Kenya
1025,NaN,Avocado,18,12,SHADE FRUITS,NaN,True,Kenya
1026,NaN,m,500,480,SHADE FIREWOOD,NaN,False,Kenya
1027,NaN,msumbesu,500,450,FIREWOOD CONSTRUCTION SHADE,NaN,False,Kenya

In [454]:
filterd_tp.to_csv('tp_fruits.csv', index=False)

In [455]:
cleaned_tp_fuits = pd.read_csv('tp_cleaned_fruits.csv')

unique_species = cleaned_tp_fuits.drop_duplicates(subset=['Tree Scientific Name'], keep='first')
unique_species = unique_species[['Tree Scientific Name', 'Tree Local Name', 'Total Trees Planted', 'Total Trees Survived', 'Tree Usage', 'Other Tree Usages', 'has_fruits']]
unique_species

,Tree Scientific Name,Tree Local Name,Total Trees Planted,Total Trees Survived,Tree Usage,Other Tree Usages,has_fruits
0,Senna siamea,mjohoro,1500,1500,SHADE,NaN,False
2,Vangueriopsis lanciflora,mgelevia,5,2,FIREWOOD SOIL_FERTILITY SHADE CONSTRUCTION,NaN,False
3,Citrus sinensis,Kisungwa,50,30,FRUITS SHADE,NaN,True
4,Persea americana,Kivakato,10,2,FRUITS SHADE,NaN,True
5,Asimina triloba,Kivavai,20,7,FRUITS,NaN,True
...,...,...,...,...,...,...,...
986,Jatropha curcas,kyowa,20,9,FIREWOOD SHADE,NaN,False
999,Euphorbia tirucalli,ndau,10,8,SHADE FIREWOOD,NaN,False
1000,Commiphora baluensis,itula,5,3,SHADE FIREWOOD CONSTRUCTION,NaN,False
1007,Acacia polyacantha,munina,10,6,FODDER SHADE FIREWOOD,NaN,False
1012,Syzygium guineense,muvengele,80,75,CONSTRUCTION SHADE FIREWOOD,NaN,False

In [456]:
unique_species.to_csv('tp_unique_species.csv', index=False)

## FMNR

In [457]:
fmnr = pd.read_csv('data_fmnr.csv')

In [458]:
fmnr.columns

Index(['Uploaded Date', 'Date Collected', 'Data Collector', 'Project Name',
       'Farmer/Group/Institution', 'Country', 'County/Region/Provence',
       'Subcounty/District/commune/worede', 'Plot Name', 'Date FMNR Started',
       'Plot has Crops', 'Crop Name', 'Plot has fence', 'Fence type',
       'Other Fence type', 'Plot Ownership type', 'Plot other ownership type',
       'Plot Size', 'Plot Size Unit', 'Plot Actual Size', 'Plot Geometry',
       'Local Name', 'Scientific Name', 'Management Practices',
       'Other Managements', 'Tree Usage', 'Other Usages', 'Height',
       'Actual Height', 'RCC/CBH', 'Latitude', 'Longitude', 'Altitude',
       'Accuracy', 'Photo', 'Comment'],
      dtype='object')

In [459]:
filterd_fmnr = fmnr[['Scientific Name', 'Local Name',  'Tree Usage', 'Other Usages']]
filterd_fmnr

,Scientific Name,Local Name,Tree Usage,Other Usages
0,NaN,NaN,NaN,NaN
1,NaN,mkongo,FIREWOOD SOIL_FERTILITY SHADE,NaN
2,NaN,mpenda bure,SHADE SOIL_FERTILITY CONSTRUCTION,NaN
3,NaN,gravellia,SHADE SOIL_FERTILITY CONSTRUCTION,NaN
4,NaN,gravellia,SHADE SOIL_FERTILITY FIREWOOD CONSTRUCTION,NaN
...,...,...,...,...
417,NaN,msuruwache,SOIL_FERTILITY FODDER SHADE FIREWOOD,NaN
418,NaN,macadamia,NUTS SOIL_FERTILITY FIREWOOD,NaN
419,NaN,msanduku,MEDICINAL FIREWOOD SOIL_FERTILITY CONSTRUCTION,NaN
420,NaN,msumbesu,FIREWOOD SOIL_FERTILITY SHADE CONSTRUCTION,NaN
421,NaN,msuruwache,MEDICINAL FIREWOOD SOIL_FERTILITY SHADE,NaN

In [460]:
filterd_fmnr['has_fruits'] = filterd_fmnr['Tree Usage'].str.contains(
    'FRUITS', case=False, na=False
)
filterd_fmnr

/var/folders/t0/njzr1yqd20g7069znnn4ltrw0000gp/T/ipykernel_13646/3460940299.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filterd_fmnr['has_fruits'] = filterd_fmnr['Tree Usage'].str.contains(

,Scientific Name,Local Name,Tree Usage,Other Usages,has_fruits
0,NaN,NaN,NaN,NaN,False
1,NaN,mkongo,FIREWOOD SOIL_FERTILITY SHADE,NaN,False
2,NaN,mpenda bure,SHADE SOIL_FERTILITY CONSTRUCTION,NaN,False
3,NaN,gravellia,SHADE SOIL_FERTILITY CONSTRUCTION,NaN,False
4,NaN,gravellia,SHADE SOIL_FERTILITY FIREWOOD CONSTRUCTION,NaN,False
...,...,...,...,...,...
417,NaN,msuruwache,SOIL_FERTILITY FODDER SHADE FIREWOOD,NaN,False
418,NaN,macadamia,NUTS SOIL_FERTILITY FIREWOOD,NaN,False
419,NaN,msanduku,MEDICINAL FIREWOOD SOIL_FERTILITY CONSTRUCTION,NaN,False
420,NaN,msumbesu,FIREWOOD SOIL_FERTILITY SHADE CONSTRUCTION,NaN,False
421,NaN,msuruwache,MEDICINAL FIREWOOD SOIL_FERTILITY SHADE,NaN,False

In [461]:
filterd_fmnr.to_csv('fmnr_fruits.csv', index=False)

In [462]:
fmnr_cleaned_fruits = pd.read_csv('fmnr_cleaned_fruits.csv')
fmnr_cleaned_fruits

,Unnamed: 0,Scientific Name,Local Name,Tree Usage,Other Usages,has_fruits,country_x,verbatim_name,nameSource_x,country_y,...,country_matched_from,source,verbatim_name_from_gbif,match_score,match_status,nameSource_y,original_name_gbif_local,species_matched_from_gbif_local,_merge,cleaned_scientific_name
0,0,Faidherbia albida,NaN,NaN,NaN,False,Kenya,NaN,local_name (replaced NA),Kenya,...,Tanzania,R,faidherbia albida,0.093333,Accepted,scientific_name,NaN,nanda,both,Faidherbia albida
1,1,Ocotea usambarensis,mkongo,FIREWOOD SOIL_FERTILITY SHADE,NaN,False,Kenya,mkongo,local_name (replaced NA),Kenya,...,Kenya,R,ocotea usambarensis,0.000000,Accepted,scientific_name,mkongo,Mkongo,both,Ocotea usambarensis
2,2,Melia azedarach,mpenda bure,SHADE SOIL_FERTILITY CONSTRUCTION,NaN,False,Kenya,mpenda bure,local_name (replaced NA),Kenya,...,Kenya,V,melia azedarach,0.000000,Accepted,scientific_name,mpenda bure,mpenda bure,both,Melia azedarach
3,3,Grevillea robusta,gravellia,SHADE SOIL_FERTILITY CONSTRUCTION,NaN,False,Kenya,gravellia,local_name (replaced NA),Kenya,...,NaN,J,grevillea robusta,0.000000,Accepted,scientific_name,mugima,Mukima,both,Grevillea robusta
4,4,Grevillea robusta,gravellia,SHADE SOIL_FERTILITY FIREWOOD CONSTRUCTION,NaN,False,Kenya,gravellia,local_name (replaced NA),Kenya,...,NaN,J,grevillea robusta,0.000000,Accepted,scientific_name,mugima,Mukima,both,Grevillea robusta
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,417,NaN,msuruwache,SOIL_FERTILITY FODDER SHADE FIREWOOD,NaN,False,Kenya,msuruwache,local_name (replaced NA),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only,NaN
418,418,Macadamia tetraphylla,macadamia,NUTS SOIL_FERTILITY FIREWOOD,NaN,False,Kenya,macadamia,local_name (replaced NA),Kenya,...,Tanzania,R,macadamia tetraphylla,0.061538,Accepted,scientific_name,macadamia,macadamia nut,both,Macadamia tetraphylla
419,419,Eucalyptus camaldulensis,msanduku,MEDICINAL FIREWOOD SOIL_FERTILITY CONSTRUCTION,NaN,False,Kenya,msanduku,local_name (replaced NA),Kenya,...,Kenya,R,eucalyptus camaldulensis,0.033333,Accepted,scientific_name,msanduku,Musanduku,both,Eucalyptus camaldulensis
420,420,NaN,msumbesu,FIREWOOD SOIL_FERTILITY SHADE CONSTRUCTION,NaN,False,Kenya,msumbesu,local_name (replaced NA),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only,NaN
421,421,NaN,msuruwache,MEDICINAL FIREWOOD SOIL_FERTILITY SHADE,NaN,False,Kenya,msuruwache,local_name (replaced NA),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only,NaN

In [463]:
cleaned_fmnr_fuits = pd.read_csv('fmnr_cleaned_fruits.csv')

fmnr_cleaned_fruits = cleaned_fmnr_fuits.drop_duplicates(subset=['Scientific Name'], keep='first')
fmnr_cleaned_fruits = fmnr_cleaned_fruits[['Scientific Name', 'Local Name', 'has_fruits']]
fmnr_cleaned_fruits

             Scientific Name       Local Name  has_fruits
0          Faidherbia albida              NaN       False
1        Ocotea usambarensis           mkongo       False
2            Melia azedarach      mpenda bure       False
3          Grevillea robusta        gravellia       False
5    Casuarina equisetifolia        kashorina       False
..                       ...              ...         ...
382        Juniperus procera          mukuluu       False
404         Casimiroa edulis  white supporter        True
405               Eucalyptus         blue gum       False
409      Eucalyptus globulus         Blue gam       False
418    Macadamia tetraphylla        macadamia       False

[106 rows x 3 columns]

In [464]:
fmnr_cleaned_fruits.to_csv('fmnr_unique_species.csv', index=False)


# Nursery

In [465]:
nursery = pd.read_csv('data_nursery.csv')

In [466]:
nursery.columns

Index(['Uploaded date', 'Collected date', 'Data Collector', 'Nursery name',
       'Starting date', 'Latitude', 'Longitude',
       'Subcounty/District/Commune/Worede', 'County/Region/Province',
       'Country', 'Project Name', 'Nursery Ownership type',
       'Other Nursery ownership type', 'Operator's name', 'Phone number',
       'Species count', 'Nursery Water sources',
       'Other water_sources for nursery', 'Scientific name', 'Local name',
       'Seed sources', 'Other seed sources', 'Seeds purchased',
       'Purchase unit', 'Production methods', 'Other production methods',
       'Propagation methods', 'Scion sources', 'Other scion sources',
       'Seeds sown', 'Sow unit', 'Date seed sown', 'Seeds germinated',
       'Seeds survived', 'Estimated seedlings age at the time of sale',
       'Photo', 'Comment'],
      dtype='object')

In [467]:
filterd_nursery = nursery[['Scientific name', 'Local name']]
filterd_nursery['country'] = 'Kenya'
filterd_nursery

/var/folders/t0/njzr1yqd20g7069znnn4ltrw0000gp/T/ipykernel_13646/3209495284.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filterd_nursery['country'] = 'Kenya'

         Scientific name    Local name country
0     Syzygium germainii          Musu   Kenya
1        Prunus africana        Mngima   Kenya
2     Syzygium germainii          MUSU   Kenya
3                    NaN          Musu   Kenya
4                    NaN     Gravelia    Kenya
...                  ...           ...     ...
1171     Prunus africana        Mngima   Kenya
1172                 NaN      msumbesu   Kenya
1173                 NaN  Mtunda tindi   Kenya
1174                 NaN         Mpera   Kenya
1175                 NaN         Mlusu   Kenya

[1176 rows x 3 columns]

In [505]:
filterd_nursery.to_csv('nursery_fruits.csv', index=False)

In [510]:
nursery_cleaned = pd.read_csv('nursery_cleaned_fruits.csv')
nursery_cleaned

,Unnamed: 0,Scientific name,Local name,country_x,verbatim_name,nameSource_x,country_y,scientificName,rank,status,...,country_matched_from,source,verbatim_name_from_gbif,match_score,match_status,nameSource_y,original_name_gbif_local,species_matched_from_gbif_local,_merge,cleaned_scientific_name
0,0,Syzygium germainii,Musu,Kenya,syzygium germainii,scientific_name,Kenya,Syzygium germainii Amshoff,SPECIES,ACCEPTED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both,Syzygium germainii
1,1,Prunus africana,Mngima,Kenya,prunus africana,scientific_name,Kenya,Prunus africana (Hook.fil.) Kalkman,SPECIES,ACCEPTED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both,Prunus africana
2,2,Syzygium germainii,MUSU,Kenya,syzygium germainii,scientific_name,Kenya,Syzygium germainii Amshoff,SPECIES,ACCEPTED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both,Syzygium germainii
3,3,Syzygium cordatum,Musu,Kenya,musu,local_name (replaced NA),Kenya,Syzygium cordatum Hochst.,SPECIES,ACCEPTED,...,Kenya,R,syzygium cordatum,0.00,Accepted,scientific_name,musu,Musu,both,Syzygium cordatum
4,4,Grevillea robusta,Gravelia,Kenya,gravelia,local_name (replaced NA),Kenya,Grevillea robusta A.Cunn. ex R.Br.,SPECIES,ACCEPTED,...,NaN,J,grevillea robusta,0.00,Accepted,scientific_name,mukirismas,Mukima,both,Grevillea robusta
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1171,1171,Prunus africana,Mngima,Kenya,prunus africana,scientific_name,Kenya,Prunus africana (Hook.fil.) Kalkman,SPECIES,ACCEPTED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both,Prunus africana
1172,1172,NaN,msumbesu,Kenya,msumbesu,local_name (replaced NA),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only,NaN
1173,1173,Manilkara sansibarensis,Mtunda tindi,Kenya,mtunda tindi,local_name (replaced NA),Kenya,Manilkara sansibarensis (Engl.) Dubard,SPECIES,ACCEPTED,...,Tanzania,R,manilkara sansibarensis,0.10,Accepted,scientific_name,mtunda tindi,mtunda,both,Manilkara sansibarensis
1174,1174,Psidium guajava,Mpera,Kenya,mpera,local_name (replaced NA),Kenya,Psidium guajava L.,SPECIES,ACCEPTED,...,Kenya,R,psidium guajava,0.00,Accepted,scientific_name,kipera,kipera,both,Psidium guajava
1175,1175,Syzygium cordatum,Mlusu,Kenya,mlusu,local_name (replaced NA),Kenya,Syzygium cordatum Hochst.,SPECIES,ACCEPTED,...,Kenya,R,syzygium cordatum,0.06,Accepted,scientific_name,musu,Musu,both,Syzygium cordatum

In [512]:
nursery_cleaned = pd.read_csv('nursery_cleaned_fruits.csv')

nursery_cleaned = nursery_cleaned.drop_duplicates(subset=['Scientific name'], keep='first')
nursery_cleaned = nursery_cleaned[['Scientific name', 'Local name']]
nursery_cleaned

              Scientific name    Local name
0          Syzygium germainii          Musu
1             Prunus africana        Mngima
3           Syzygium cordatum          Musu
4           Grevillea robusta     Gravelia
5                Senna siamea       Mjohoro
...                       ...           ...
1104      Podocarpus henkelii          Podo
1125        Gluema korupensis      Gravelia
1139        Acacia abyssinica        Acacia
1144       Syzygium guineense     muvengele
1173  Manilkara sansibarensis  Mtunda tindi

[149 rows x 2 columns]

In [513]:
nursery_cleaned.to_csv('nursery_unique_species.csv', index=False)